#nav-links{
    list-style: none;
    display: flex;
    position: absolute;
    padding-left: 55%;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
    width: 40vw;
    z-index: 10000;
    top: 5vh;
}

#nav-links a{
    color: white;
}

nav #logo {
    position: absolute;
    width: 206px;
    height: 64px;
    left: 85px;
    top: 43px;  
}