nav {
  position: sticky;
  top: 2%;
  z-index: 3;
  opacity: 1;

  & > * {
    // Margin top and bottom
    margin-block: 1.57rem;
  }

  #logo {
    transform: scale(0.8);
    display: block;
    // Margin fallback 'cause browser support
    margin-left: auto;
    margin-right: auto;
    // Margin left and right
    margin-inline: auto;
  }

  #nav-links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0;
    transition: 0.5s;
    z-index: 2;

    li {
      padding-bottom: 0.3rem;
      border-bottom: 1px solid #ff653e;
    }
    // NavbarItem: li, with an a tag inside
    li a {
      text-decoration: none;
      color: inherit;
    }
    // position: absolute;
    // padding-left: 55%;
    // top: 5vh;
    // width: 40vw;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;

    #logo {
      transform: scale(1);
      // Margin fallback 'cause browser support
      margin-left: initial;
      margin-right: initial;
      margin-inline: initial;
    }

    #nav-links {
      // Width is 60%, but if that 60 is larger than 500px, use 500 px instead.
      // It's basically a width: 60% and max-width: 500px
      width: Min(60%, 500px);
    }
  }
}

// @media screen and (min-width: 1200px) {

// }

// #nav-links a{
//     color: white;
// }

// nav #logo {
//     position: absolute;
//     width: 206px;
//     height: 64px;
//     left: 85px;
//     top: 43px;
// }
