
.teste h1{
    text-align: center;
}

.img2 {
    
    width: 1142px;
    height: 302px;
    left: 298px;
    top: 3699px;
    white-space: pre;

}
.img1 {
    width: 1142px;
    height: 304px;
    left: 0px;
    top: 3235px;
    white-space: pre;
}

.texto-colorido {
    color: #FF967B;
}