#rect1 {
    position: absolute;
    width: 410px;
    height: 340px;
    left: 68px;
    top: 1145px;
    background: rgba(0, 0, 0, 0.25);
}

#rect2 {
    position: absolute;
    width: 358px;
    height: 339px;
    left: 1040px;
    top: 1095px;
    background: rgba(0, 0, 0, 0.25);
}

#rect3 {
    position: absolute;
    width: 432px;
    height: 405px;
    left: 608px;
    top: 1514px;
    background: rgba(0, 0, 0, 0.25);
}

#rectline {
    position: absolute;
    left: 44.51%;
    right: 39.72%;
    top: 32.18%;
    bottom: 67.77%;
    background: #FF653E;
}

#h2 {
    position: absolute;
    width: 450px;
    height: 59px;
    left: 522px;
    top: 1247px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
/* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    color: #F4F4F4;
}

#h2stU {
    color: #FF967B;
}

#description1 {
    position: absolute;
    width: 250px;
    height: 152px;
    left: 136px;
    top: 1186px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #F4F4F4;
}

#description2 {
    position: absolute;
    width: 294px;
    height: 228px;
    left: 1083px;
    top: 1133px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #F4F4F4;
}

#description3 {
    position: absolute;
    width: 365px;
    height: 275px;
    left: 648px;
    top: 1562px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.05em;
    color: #F4F4F4;
}
